<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316350274996-pg33fucmii4ljght96ujd750p06p3gjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316350274996-pg33fucmii4ljght96ujd750p06p3gjv</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ37qYSLv3sJ58mqSGIU6QI4n2H3VYOmI</string>
	<key>GCM_SENDER_ID</key>
	<string>316350274996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech.OCRImplementation</string>
	<key>PROJECT_ID</key>
	<string>ocrimplementation-da189</string>
	<key>STORAGE_BUCKET</key>
	<string>ocrimplementation-da189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:316350274996:ios:67ef046d73b0e47fbce6e1</string>
	<key>DATABASE_URL</key>
	<string>https://ocrimplementation-da189.firebaseio.com</string>
</dict>
</plist>
